<template>        
    <div v-bind:id="ToolId" class="stick" :class="defineStyle(hourly_data.code)"
        @mouseover="hover = true" 
        @mouseleave="hover = false" >       
        <b-tooltip  v-if="hover" v-bind:target="ToolId" triggers="hover" placement="bottomright" >
            <div class="tooltip-custom">
                <p><b class="detail">Timestamp : </b> {{hourly_data.timestamp}}</p>
                <p v-if="hourly_data.check"><b class="detail">Check : </b> {{hourly_data.check}}</p>
                <p ><b class="detail">Target : </b> {{hourly_data.target}}</p><br>
                <p v-if="hourly_data.code !== undefined"><b class="detail">Code : </b> {{hourly_data.code}}</p>
                <p><b class="detail">Info : </b><span class="info">{{hourly_data.info}}</span></p>
            </div>
      </b-tooltip>
    </div>
</template>

<script>

export default {
    name: 'Bar',

    props: {
        hourly_data : {
            type: Object,
            require: true
        }
    },
    data: function(){        
        return {
            hover: false,
            ToolId: ''
        }
    },
    created: function(){
        this.idGen()
    },
    methods: {
        /** TODO: define the style (color) which should be apply to the current hour code bar */
        defineStyle: function(code){ 
            
            let style = ''

            switch(code){
                case 0:
                    style = 'code-zero'
                    break
                case 1:
                    style = 'code-one'
                    break
                case 2:
                    style = 'code-two'
                    break
                case 3:
                    style = 'code-three'
                    break
                default:
                    style = 'code-empty'
                    break
            }

            return style
        }, 

        /** TODO: generate a random id key for tooltip features */    
        idGen : function(){
            let id = Math.floor(Math.random() * (1000000 - 1 )) + 1
            this.ToolId = `${'tooltip_'+id}`
        }
    }
}
</script>

<style >

p {
   font-size: 0.7em;
   display: inline-block;
   text-align: left;
   margin-left: 1px;
}

/** Bar shared class  */
.stick {
    height: 10px;
    margin-right: 2px;
    display: inline;
}

/** color for bar */
.code-zero {
    border-left: 2px solid rgb(92, 243, 78);
}
.code-one {
    border-left: 2px solid rgb(234, 245, 77);
}
.code-two {
    border-left: 2px solid rgb(250, 164, 6);
}
.code-three {
    border-left: 2px solid rgb(228, 33, 33);
}

.code-empty {
    border-left: 2px solid rgb(185, 30, 185);
}

/** Tooltip  */
.tooltip-custom {
    color: white;
    text-align: left;
    font-size: 0.9rem;    
    line-height: 0.7em;
    justify-content: space-around;
}


.info{
    word-break: break-all;
}

.detail {
    color: #bbd4f8;
    text-transform: uppercase;
}
</style>