<template>
    <div>
        <b-modal 
            ref="my-modal" 
            title="Choose your base period"
            id="modal-prevent-closing"
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk"
            >
            <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group v-slot="{ ariaDescribedby }">
                <b-form-radio v-for="(opt, idx) in options"
                    name="choice_select"
                    v-bind:key="idx" 
                    v-model="selected" 
                    :aria-describedby="ariaDescribedby"  
                    :value="opt.value"
                    >{{opt.text}}</b-form-radio>
        </b-form-group>
            </form>
      </b-modal>
    </div>
</template>
  
<script>

export default {
    name: 'Modal',
    props: {
        options: {
            type: Array,
            require: true
        },
        process_option: {
            required: true
        }
        // title: {
        //     type: String,
        //     require: true
        // },

    },
    data() {
        return {
            selected: null
        }
    },
    methods: {
        showModal() {
            this.$refs['my-modal'].show()
        },
        resetModal() {
          this.options_selected = null
        },
        handleOk(bvModalEvent) {
          bvModalEvent.preventDefault()
          this.handleSubmit()
        },
        handleSubmit() {
          this.$nextTick(() => {
            this.$bvModal.hide('modal-prevent-closing')
          })
          this.process_option(this.selected)
        }
      }
    }
</script>