<template>
    <div class="container monitoring">
        <h2>Monitoring</h2>
        <label class="text-reader mt-2">
            Click here to select a file
            <input type="file" @change="openFile">
        </label> 
                    
        <modal ref="modal" :options="modalOption" :process_option="process_option" />
        <!-- ALERT IF IMPORT FAILURE -->
        <div class="mt-3 mx-5" >
            <b-alert 
                :show="filesErrorTxt != ''"
                variant="danger"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="updateTable" >
                <h3>Error</h3>
                <p class="text-start fs-5">{{filesErrorTxt}}</p>
            </b-alert>
        </div>
        <section class="px-5" v-if="!fileData && filesErrorTxt == ''">
            <div class="mt-3 px-5" >
                <p class="text-start fs-5">This tool allow to analyze monitoring files for timeleness calculation. At the end of process, the data is displayed on a table and the result can be download in csv and Json format.</p>
                <p class="text-start fs-5"><b style="color:red;">Note :</b> chosen file must be a do_monitor file and respect the file naming pattern with the four digits in it e.g: (do_monitor_0000.json)</p>
            </div>
           
        </section>
        <section v-else-if="fileData && filesErrorTxt == ''" >            
            <div class="table-options">
                <!-- SELECT OPTION PERIODS -->
                <b-row>
                    <b-col class="text-start mt-2">
                        <h6>Processed file: <b>{{ fileName }}</b></h6>
                    </b-col>
                    <b-col>
                        <div class="dowload-buttons">
                            <b-button variant="outline-success" @click="generateCsv('a')">
                                <b-icon icon="cloud-download" aria-hidden="true"></b-icon> Availability
                            </b-button>
                            <b-button variant="outline-primary" href="#" @click="generateCsv('t')">
                                <b-icon icon="cloud-download" aria-hidden="true"></b-icon> Timeliness
                            </b-button>
                        </div>
                        
                    </b-col>
                </b-row>
                <!-- TABLE FILTER COMPONENT-->
                <b-row >
                    <b-col lg="6" md="6">
                        <b-form-group  class="option-form" label="periods filter">
                            <b-form-radio-group class="periods-filter" v-model="selectedPeriod" >
                                <b-form-radio class="option-choices" id="default" value="default">Default</b-form-radio>
                                <b-form-radio class="option-choices" id="one_week" value="oneWeek">last 7 days</b-form-radio>
                                <b-form-radio class="option-choices" id="two_weeks" value="twoWeeks">last 15 days</b-form-radio>
                            </b-form-radio-group>
                        </b-form-group>

                    </b-col>
                    <b-col lg="6" md="6">
                        <b-form-group  class="option-form"  label="Colors filter">
                            <b-form-checkbox-group class="colors-filter" v-model="selectedColors">
                                <b-form-checkbox class="option-choices green-opt" value="green">code 0</b-form-checkbox>
                                <b-form-checkbox class="option-choices yellow-opt" value="yellow">code 1</b-form-checkbox>
                                <b-form-checkbox class="option-choices orange-opt" value="orange">code 2</b-form-checkbox>
                                <b-form-checkbox class="option-choices red-opt" value="red">code 3</b-form-checkbox>
                                <b-form-checkbox class="option-choices purple-opt" value="purple">no data</b-form-checkbox>
                            </b-form-checkbox-group>
                        </b-form-group>
                    </b-col>
                </b-row>
                <!-- Timeliness viewer -->  
                <b-row>
                    
                    <!-- Comesep timeliness -->
                    <b-col>
                        <b-form-group>

                        </b-form-group>

                    </b-col>
                        <b-form-group>
                                
                        </b-form-group> 
                    <b-col>

                    </b-col>
                </b-row>   
            </div>
            <!-- TABLE PART -->
            <div class="monitoring-table">
                <b-table-simple bordered sticky-header="100%">
                    <b-thead >
                        <b-tr>
                            <b-th sticky-column >Targets</b-th>
                            <b-th  v-for="(field, idx) in fields" :key="idx">{{ field && field.length > 2 ? field.substring(1,3) : field }}</b-th>
                        </b-tr>
                    </b-thead>
                    <b-tbody>
                        <b-tr  v-for="(item, index) in items" :key="index">
                            <b-td sticky-column variant="primary">{{item.name}}</b-td>
                            <b-td v-for="(data, id) in item.data" :key="id">                               
                                <bar v-for="(d,k) in data" v-bind:key="k" :hourly_data="d"/>                        
                            </b-td>

                        </b-tr>
                    </b-tbody>
                </b-table-simple>
                <b-overlay :show="busy" no-wrap>
                    <template #overlay>
                        <div spinner-small v-if="processing"
                        class="text-center p-4 bg-info text-light rounded">
                            <div class="mb-3">Processing...</div>                        
                        </div>
                    </template>
                </b-overlay>

            </div> 
        </section>
        
    </div>    
</template>

<script>

import Target from '../classes/Target.js'
import Bar from './Bar.vue'
import Modal from './Modal.vue'
import $ from 'jquery'
import  download from 'downloadjs'
import {calculateTimeliness, calculateAvailability} from '../classes/Calculator'

export default {
    name: 'Monitoring',
    components: {
        Bar,
        Modal
    },
    
    data: function(){
        let fields  = []
        let items = []
        let filteredFields = []
        let modalOption = []

        
        return {
            fileName: '',
            fileData: null,
            fields,
            items,
            filteredFields,
            modalOption,
            selectedPeriod: 'default',
            selectedColors: [],            
            colorsFilter: ['green', 'yellow', 'orange', 'red', 'purple'],  
            filesErrorTxt: '',
            busy: false,
            processing: false,
            counter: 0,
            interval: null,
            dismissCountDown: 0,
            current_date: 0,
            download_txt: ''

        }
        

    },
    watch: {
        selectedPeriod: function(){
            this.updateTable()            
        },
        selectedColors: function () {
            this.updateTable()          
        },
        modalOption: function(){
            return 
        }
    },
    methods: {
        /** TODO: Open the selected File */
        openFile: function(ev){
            const file_name = ev.target.value.split('\\').slice(-1)[0]  
            const file = ev.target.files[0]            
            
            const reg = /(do_monitor_[0-9]{4}).json$/
            this.filesErrorTxt = ''
            try {
                if(!file_name.match(reg)) throw Error

                const reader = new FileReader()
                reader.onload = e => {
                    const file_data = JSON.stringify(e.target.result);
                
                    const format_data = file_data.slice(-4).includes(',\\n') ? file_data.slice(0, length - 4) + ']}"' : file_data
                    let fileString = ""

                    format_data.split(',').forEach(line => {
                        const n_line = line.includes('--:--:-- ') !== true ? line : `${line.slice(0, 11) + line.slice(-74, -1)}}`
                        fileString += n_line + ','
                    });
                    
                    this.fileData = JSON.parse(fileString.slice(0, -1))            
                    this.selectedColors = this.colorsFilter.slice() 
                    this.updateTable()                 
                }

                reader.readAsText(file);   


            }
            catch(e){
                console.log('Error happened',e)
                this.filesErrorTxt = `${file_name } do not match requirements  : <b>do_monitor_0000.json</b>` 

            }

        },

        /** TODO : fetch the data from the selected period */
        fetchData: function(){
            let targetList = []
            let file_data
            try {
                file_data = JSON.parse(this.fileData)               
            } catch (error) {
                this.filesErrorTxt = error.message
            }
            
            this.fields = []
            this.fileName = file_data.monitor
           
            file_data.data.forEach(data => {

                let date = data.start
                let day = date.substring(8,10)
                
                this.fields.indexOf(day) === - 1 && this.fields.push(day)
                
                data.data.forEach(d => {

                    const target = targetList.find(t=> t.name === d.target)
                    const n_target = target ?? new Target(d.target)

                    if (n_target.name === d.target ) n_target.addCode(date, d)

                    if(!target) targetList.push(n_target)
              
                })
            })
            this.current_date = Math.max(...Object.keys(targetList.slice(-1)[0].data))
            this.items = []

            switch(this.selectedPeriod){
                case 'oneWeek':
                    this.items = this.filterByPeriod(targetList, 7)
                    break;
                case 'twoWeeks':
                    this.items = this.filterByPeriod(targetList, 15)
                    break;                
                default:
                    this.items = this.filterByPeriod(targetList)
                    break;

            }  
            
                  
        },

        /** Todo: update the table data & animation overlay timer  **/
        updateTable() {
            this.counter = 1

            this.busy = true
            this.processing = true

            // Simulate an async request
            this.clearInterval()
            this.interval = setInterval(() => {
                if (this.counter < 15) {
                    this.counter++
                } else {
                    this.clearInterval()                    
                    this.$nextTick(() => {
                        this.processing = false 
                        this.fetchData()                     
                        this.busy = false                
                    
                    })
                }
            }, )
            
            this.filterByColor()
        },

        /**TODO: fetch data according to a period if selected*/
        filterByPeriod(items, end = 0){
            let fields = []
            let filteredItems = []
            
            if(end == 0){ 
                items.forEach(item => {               
                    filteredItems.push(item)                
                })
                return filteredItems
            }


            items.forEach(item => {
                let data = item.data
                Object.keys(data).reverse().slice(0,end).forEach(f => { 
                    fields.indexOf(f) === - 1 && fields.push(f)                     
                })

            })
            this.fields = fields.reverse()
            items.filter(eachTarget => {
                let filtre = Object.keys(eachTarget.data).filter(key => fields.includes(key)).reduce((obj, key) => {
                    obj[key] = eachTarget.data[key]
                    return obj
                }, {})
                eachTarget.data = filtre

                filteredItems.push(eachTarget)
            })
            
            return filteredItems

        },

        /**TODO: fetch data according to a color if selected*/
        filterByColor(){
            let unchecked = this.colorsFilter.filter(c => !this.selectedColors.includes(c))
           
            if(unchecked.length != 0){
                unchecked.forEach(u => {
                    switch(u){
                        case 'green':
                            $(".stick.code-zero").hide()
                            break;
                        case 'yellow':
                            $(".stick.code-one").hide()
                            break;
                        case 'orange':
                            $(".stick.code-two").hide()
                            break;
                        case 'red':
                            $(".stick.code-three").hide()
                            break;
                        case 'purple':
                            $(".stick.code-empty").hide()
                            break;
                            
                    }
                })
            }

            this.selectedColors.forEach(c => {
                switch(c){
                    case 'green':
                        $(".stick.code-zero").show()
                        break;
                    case 'yellow':
                        $(".stick.code-one").show()
                        break;
                    case 'orange':
                        $(".stick.code-two").show()
                        break;
                    case 'red':
                        $(".stick.code-three").show()
                        break;
                    case 'purple':
                        $(".stick.code-empty").show()
                        break;
                }
            })
        },

        /** TODO: reset interval to null **/
        clearInterval() {
            if (this.interval) {
                clearInterval(this.interval)
                this.interval = null
            }
        },
        dowload_availability(txt){
            //const filePeriod = new Date(`03 ${this.fileName}`)
            let title = `BIRA-IASB_${this.fileName}_Availability.csv`
                       
            const text = 'PRODUCT, AV/hr, AVAILABILITY' + txt
            download(text, title, "application/text")


        },
        generateCsv(topic){
            const getDaysInMonth = (year, month) => {  return new Date(year, month, 0).getDate()}
            
            const type = topic.toUpperCase()
            const filePeriod = new Date(`02 ${this.fileName}`)
            const title = filePeriod.toISOString().slice(0, 7)
            const total_days = getDaysInMonth(filePeriod.getFullYear(),filePeriod.getMonth() +1)
            let csv = `${title}\n `            
            let csvTitle = `BIRA-IASB_${title}`
            
            console.log(filePeriod.getUTCMonth())
            this.fetchData()
            if(this.current_date !== total_days)
            { 
                this.modalOption = []
                this.modalOption.push({value: this.current_date, text: `Last day of file (${this.current_date} ${this.fileName})`})
                this.modalOption.push({value: total_days, text: `Total days of the current month (${total_days})`})
                this.$refs['modal'].showModal() * 24
            } else {
                this.selected_for_av = total_days * 24

            }

            //console.log(this.selected_for_av)

            switch(type){
                case 'A':
                    csvTitle = csvTitle + '_Availability.csv'
                    if(this.current_date !== total_days)
                    { 
                        this.modalOption = []
                        this.modalOption.push({value: this.current_date, text: `Last day of file (${this.current_date} ${this.fileName})`})
                        this.modalOption.push({value: total_days, text: `Total days of the current month (${total_days})`})
                        this.$refs['modal'].showModal()
                        return
                    }
                    else {
                        console.log(this.items)
                        this.download_txt = this.dowload_availability(calculateAvailability(this.items, total_days * 24)) 
                    }
                    break;
                case 'T':
                    csvTitle = csvTitle + '_Timeliness.csv'
                    csv += 'PRODUCT, PERIOD, CRITICAL, CP, DP, SP \n' + calculateTimeliness(this.items, this.fileName) 
                    download(csv, title+'Timeliness.csv', "application/text") 
                    break;
            }
                   
        },
        process_option(selected = undefined){
            this.download_txt = ''
            if(selected != undefined){
                const selected_hours = selected * 24
                this.dowload_availability(calculateAvailability(this.items, selected_hours)) 
            }
        }
    },
}
</script>

<style >
/** HTML tag style */
h2 {
    font-weight:  300;
    font-size: 180%;
    margin-bottom: 20px;    
    margin-top: 2%;   
}

label {
    font-weight:  250;
    font-size: 80%;

}

h2, label {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2::after{
    display: block;
    height: 3px;
    width: 100px;
    background-color: #bbd4f8;
    content: '';
    margin: 0 auto;
}


/** Monitoring style */
.monitoring{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    background-size: cover;
}


.monitoring-table {
    position: relative;
    background-color: #2c2b2b ;
    border-radius: 5px;
    width: 95%;
    height: 33em;
    box-shadow: 0 0 4px 4px #bdbbbb79;
    margin: auto;
}


/** Table options */
.table-options {
    border-radius: 6px;
    width: 95%;
    box-shadow: 0 0 4px 4px #bdbbbb79;
    margin: auto;
    margin-bottom: 1.2%;
    padding: 5px;
}

.option-form {
    margin: 1% auto;
    text-align: left;
    padding: 1%;
    border: 2px solid #bbd4f8;
    border-radius: 6px;
}

.option-form > legend {
    letter-spacing: 1px;
}

.option-choices {
    display: inline-block;
    margin-right: 3%;
}
label.custom-control-label {
    font-weight: bold;
}

.periods-filter {    
    background-color: #bbd4f8;
}

.colors-filter {
    background-color: #2c2b2b;
}

.colors-filter, .periods-filter {    
    border-radius: 3px;
    text-align: center;
    padding: 1%;
}

.green-opt {
    color: green;
}

.yellow-opt {
    color: rgb(131, 131, 8);
}

.orange-opt {
    color: rgb(165, 110, 7)
}

.red-opt {
    color: rgb(221, 37, 37);
}

.purple-opt {
    color: rgb(196, 24, 196)
}

.option-choices > label {    
    font-size: 85%;
    margin-left: 3px;
}

.option-choices > label, .option-form > legend {    
    text-transform: lowercase;
    filter: brightness(1.75);
}

.option-choices > label::first-letter, .option-form > legend::first-letter {
    text-transform: uppercase;
}


/** Table header style */
.b-table-sticky-header > .table.b-table > thead > tr > th {
    background-color: #bbd4f8;
}


/** Alert message */
.error-box {
    width: fit-content;
    font-size:0.8rem;
    margin: 0 25%;
    padding-top:0.1rem;

}
.error {
    text-align: left;
    line-height: 10%;
}
.error-notify {
    display: block;
    height: 5px;
    width: 25%;
    background-color: #df6763;
    content: 'Error detect !!!';
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
}

/********* */
.dowload-buttons {
    margin: 1% auto;
    width: fit-content;
    float: right;
}

/************ */
.text-reader {
    background-color: rgb(35, 135, 172);
    color: #fff;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 2px solid rgb(11, 78, 102);
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.text-reader input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.text-reader-div {
    width: fit-content;
}
</style>
