<template>
  <b-container fluid id="app" class="app container-fluid">
    <router-view />
  </b-container>
</template>
/**app container */
<style lang="css" >
html {
  background-color: #fff
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(36, 30, 30);

}

.app { 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  justify-content: center;
  padding: 5px 10px;
}
</style>
